/**
 * Author：tantingting
 * Time：2017/9/19
 * Description：Description
 */
@font-face {
    font-family: 'iconfont';  /* project id 420319 */
    src: url('//at.alicdn.com/t/font_420319_80097lqe0u9xusor.eot');
    src:
        url('//at.alicdn.com/t/font_420319_80097lqe0u9xusor.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_420319_80097lqe0u9xusor.woff') format('woff'),
        url('//at.alicdn.com/t/font_420319_80097lqe0u9xusor.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_420319_80097lqe0u9xusor.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-game-config:before {
    content: '\e6b8';
}

.icon-post:before {
    content: '\e638';
}

.icon-post-list:before {
    content: '\e65e';
}

.icon-post-info:before {
    content: '\e60a';
}

.icon-post-send:before {
    content: '\e6e8';
}

.icon-postUser:before {
    content: '\e605';
}

.icon-postUser-list:before {
    content: '\e664';
}

.icon-images:before {
    content: '\e636';
}

.icon-img-replace:before {
    content: '\e66c';
}

.icon-language:before {
    content: '\e600';
}

.icon-save:before {
    content: '\e619';
}

.icon-edit:before {
    content: '\e635';
}

.icon-add:before {
    content: '\e619';
}

.icon-ok:before {
    content: '\e621';
}

.icon-cancel:before {
    content: '\e606';
}

.icon-use:before {
    content: '\e657';
}

.icon-use-ok:before {
    content: '\e602';
}

.icon-noUse:before {
    content: '\e71c';
}

.icon-login:before {
    content: '\e60f';
}

.icon-search:before {
    content: '\e60b';
}

.icon-download:before {
    content: '\e63d';
}

.icon-upload:before {
    content: '\e6e7';
}

.icon-clear:before {
    content: '\e61a';
}

.icon-user-shield:before {
    content: '\e739';
}

.icon-user-recovery:before {
    content: '\e60e';
}

.icon-to-top:before {
    content: '\e625';
}

.icon-to-bottom:before {
    content: '\e644';
}

.icon-cancel-top:before {
    content: '\e689';
}

.icon-no-msg:before {
    content: '\e601';
}

.icon-msg:before {
    content: '\e6d3';
}

.icon-kong:before {
    content: '\e6d3';
}

