/**
 * Author：tantingting
 * Time：2017/9/19
 * Description：Description
 */
@font-face {
    font-family: 'iconfont';  /* project id 575565 */
    src: url('//at.alicdn.com/t/font_575565_o1svij57a85pcik9.eot');
    src: url('//at.alicdn.com/t/font_575565_o1svij57a85pcik9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_575565_o1svij57a85pcik9.woff') format('woff'), url('//at.alicdn.com/t/font_575565_o1svij57a85pcik9.ttf') format('truetype'), url('//at.alicdn.com/t/font_575565_o1svij57a85pcik9.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 15px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-game-config:before {
    content: '\e6b8';
}

.icon-post:before {
    content: '\e645';
}

.icon-flash:before {
    content: '\e638';
}

.icon-comment:before {
    content: '\e62e';
}

.icon-post-list:before {
    content: '\e88f';
}

.icon-flash-list:before {
    content: '\e6db';
}

.icon-comment-list:before {
    content: '\e63b';
}

.icon-post-info:before {
    content: '\e60a';
}

.icon-post-send:before {
    content: '\e600';
}

.icon-flash-send:before {
    content: '\e62a';
}

.icon-postUser:before {
    content: '\e605';
}

.icon-postUser-list:before {
    content: '\e664';
}

.icon-images:before {
    content: '\e636';
}

.icon-img-replace:before {
    content: '\e66c';
}

.icon-language:before {
    content: '\e600';
}

.icon-save:before {
    content: '\e619';
}

.icon-edit:before {
    content: '\e630';
}

.icon-add:before {
    content: '\e619';
}

.icon-ok:before {
    content: '\e621';
}

.icon-cancel:before {
    content: '\e606';
}

.icon-use:before {
    content: '\e657';
}

.icon-use-ok:before {
    content: '\e602';
}

.icon-noUse:before {
    content: '\e71c';
}

.icon-login:before {
    content: '\e60f';
}

.icon-search:before {
    content: '\e7d4';
}

.icon-download:before {
    content: '\e63d';
}

.icon-upload:before {
    content: '\e6e7';
}

.icon-clear:before {
    content: '\e617';
}

.icon-user-shield:before {
    content: '\e739';
}

.icon-user-recovery:before {
    content: '\e60e';
}

.icon-to-top:before {
    content: '\e625';
}

.icon-to-bottom:before {
    content: '\e644';
}

.icon-cancel-top:before {
    content: '\e689';
}

.icon-no-msg:before {
    content: '\e601';
}

.icon-msg:before {
    content: '\e6d3';
}

.icon-kong:before {
    content: '\e6d3';
}

